
<nav>

<mat-toolbar color="primary">

  <a mat-flat-button color="primary"style="margin-right:20px" routerLink="" routerLinkActive="active">Home</a>
  <span class="example-spacer"></span>
  <a mat-flat-button color="primary" style="margin-right:20px" routerLink="/prova" routerLinkActive="active">Table</a>
  <a mat-flat-button  color="primary"style="margin-right:20px" routerLink="/prova2" routerLinkActive="active">Prova2</a>
  <a mat-flat-button  color="primary"style="margin-right:20px" routerLink="/prova3" routerLinkActive="active">Prova3</a>
  <a mat-flat-button  color="primary"style="margin-right:20px" routerLink="/service" routerLinkActive="active">Service</a>
  <button mat-flat-button color="primary" (click)="toggleTheme()">Toggle Theme</button>
</mat-toolbar>

<router-outlet>

