.home-container {
  text-align: center;
  padding: 50px;
  font-family: Arial, sans-serif;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
.cerchio{
  width: 100px;
  height: 100px;
  background-color: #3498db;
  border-radius: 50%;
  margin: 2rem auto;

}



.online-badge {
  background-color: green;
  color: white;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

.offline-badge {
  background-color: red;
  color: white;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

