.example-card {
  max-width: 500px;
  margin: 10px auto;
  image-rendering: crisp-edges;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;

  text-align: center;
  padding: 50px;
  font-family: Arial, sans-serif;
  text-align: center;


}
