<form #signup="ngForm" (ngSubmit)="onSubmit(signup)">
  <mat-form-field>

    <mat-label>User name</mat-label>
    <input matInput type="text" name="username" ngModel required>

  </mat-form-field>
  <mat-form-field>

    <mat-label>Password</mat-label>
    <input matInput type="text" name="password" ngModel required>

  </mat-form-field>
  <mat-form-field>

    <mat-label>Confirm Password</mat-label>
    <input matInput type="text" name="confirm" ngModel required>

  </mat-form-field>
  @if (msg!==null) {
    <p>{{msg}}</p>
  }

  <div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!signup.valid">Registrazione</button>
  </div>

 <div>
  <button mat-raised-button color="primary" type="button" routerLink="/login" >Back to Login</button>
</div>




</form>
